.lab-card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .lab-card {
    position: relative;
    width: 240px;
    height: 160px;
    cursor: pointer;
    transform-origin: bottom;
    perspective: 1500px;
    z-index: 50;
  }
  
  .lab-card .layer {
    position: absolute;
    inset: 4px;
    border-radius: 16px;
    transition: all 0.3s ease;
  }
  
  .lab-card .layer-1 {
    background: linear-gradient(to top, #fbbf24, #d97706);
    bottom: 0;
    height: 156px;
    display: flex;
    align-items: flex-end;
    box-shadow: inset 0 20px 40px #fbbf24, inset 0 -20px 40px #d97706;
  }
  
  .lab-card .layer-2 {
    background-color: #e5e5e5;
  }
  
  .lab-card .layer-3 {
    background-color: #d4d4d4;
  }
  
  .lab-card .layer-4 {
    background-color: #bdbdbd;
  }
  
  .lab-card .layer-5 {
    background-color: #d97706;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .lab-card .layer-5::after {
    content: '';
    position: absolute;
    bottom: 99%;
    left: 0;
    width: 80px;
    height: 16px;
    background-color: #d97706;
    border-radius: 16px 16px 0 0;
  }
  
  .lab-card .layer-5::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 75px;
    width: 16px;
    height: 16px;
    background-color: #d97706;
    clip-path: polygon(0% 35%, 0% 100%, 50% 100%);
  }
  
  /* Hover Effects */
  .lab-card:hover .layer-4 {
    transform: rotateX(-20deg);
  }
  
  .lab-card:hover .layer-3 {
    transform: rotateX(-30deg);
  }
  
  .lab-card:hover .layer-2 {
    transform: rotateX(-38deg);
  }
  
  .lab-card:hover .layer-1 {
    transform: rotateX(-46deg) translateY(1px);
  }
  
  .lab-card-text {
    font-size: 1.5rem;
    padding-top: 16px;
    opacity: 0.2;
  }
  